<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    {% load static %}
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div class="div_cima">
        <a href="{% url 'usuario:logout_view' %}" class="button_logout">
            <i class="bi bi-arrow-bar-left">Sair</i>
        </a>
        <h1>
            Bem vindo(a), {{ nome_usuario }}!
        </h1>   
        <a href="{% url 'usuario:editar_perfil' %}"  class="button_perfil">
            <i class="bi bi-person-circle">Editar Perfil</i>
        </a>
    </div>

    <div class="card">

        <div class="modal">
            <div id="modal_adicionar_alimento" style="display: none;">
                <div class="modal_content">
                    <form method="POST">     

                        <h2>Adicionar Alimento</h2>

                        {% csrf_token %}
                        {{ form_adicionar_alimentos }}
    
                        <button type="submit" class="adicionar">Adicionar</button>
                    </form>
                </div>
            </div>
    
            <div id="modal_deletar_alimento" style="display: none;">
                <div class="modal_content">
                    <form method="POST">

                        <h2>Selecione os alimentos que deseja deletar:</h2>
                        
                        {% csrf_token %}
                        {{ form_deletar_alimentos }}
                        <button type="submit", class="deletar">Deletar alimentos</button>
                    </form>
                </div>
            </div>

            <div id="modal_adicionar_receita" style="display: none;">
                <div class="modal_content">
                    <h2>Adicionar Receita</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form_adicionar_receitas }}
                        
                        <button type="submit" class="adicionar">Adicionar</button>
                    </form>
                </div>
            </div>

            <div id="modal_receita_ia" style="display: none;">
                <div class="modal_content">
                    <form method="POST" action = "{% url 'receitas:receita_ia' %}">
                        {% csrf_token %}
                        <h2>Selecione os alimentos que deseja adicionar a receita:</h2>
                        
                        {{ form_receita_ia }}
                        <button type="submit", class="confirmar">Confirmar</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="despensa">
            <h1>
                Minha despensa
                
                <div class="acoes">
                    <a class="adicionar_alimento" onclick="toggleModal('modal_adicionar_alimento')">
                        <i class="bi bi-plus"></i>
                    </a>
            
                    <a class="deletar_alimento" onclick="toggleModal('modal_deletar_alimento')">
                        <i class="bi bi-x-lg"></i>
                    </a>
                </div>
    
            </h1>
                <ol class="alimentos">
                    {% if alimentos %}
                        {% for alimento in alimentos %}
                            <li>{{ alimento.nome }} - {{ alimento.quantidade }}</li>
                        {% endfor %}
                    {% else %}
                        <h2>Nenhum alimento cadastrado!</h2>
                    {% endif %}
                </ol>
        </div>

        <div class="receitas">
            <h1>
                Minhas Receitas

                <div class="funcoes">
                    <a class="adicionar_receita" onclick="toggleModal('modal_adicionar_receita')">
                        <i class="bi bi-plus"></i>
                    </a>
    
                    <a class="receita_ia" onclick="toggleModal('modal_receita_ia')">
                        <i class="bi bi-robot"></i>
                    </a>
                </div>

            </h1>
            <ol class="receitas">
                {% if receitas %}
                    {% for receita in receitas %}
                        <a href="{% url 'receitas:receita' receita.id %}">
                            <li>{{ receita.nome }}</li>
                        </a>
                    {% endfor %}
                {% else %}
                    <h2>Nenhuma receita cadastrada!</h2>
                {% endif %}
            </ol>
        </div>

    </div>

    <script>
        function toggleModal(modalID){
            const modal = document.getElementById(modalID);
            if (modal.style.display === 'none' || modal.style.display === ''){
                modal.style.display = 'flex';
            } else{
                modal.style.display = 'none';
            }
        }      
    </script>

</body>
</html>