{% extends "base.html" %}

{% block title %}Editar Perfil{% endblock %}
{% block mensagem %}Preencha seus dados e clique em alterar.{% endblock %}
{% load static %}
{% block imagem %}{% static 'img/cozinhando.svg' %}{% endblock %}
{% block titulo_form %}Editar Perfil{% endblock %}

{% block formulario %}
<form method="POST" class="formulario">
    {% csrf_token %}
    {{ form_perfil }}
    <button type="submit" class="alterar_perfil" name="button_perfil">Alterar</button>
</form>
<form method="POST" class="formulario">
    {% csrf_token %}
    <h1>Editar Senha</h1>
    {{ form_senha }}
    <button type="submit" class="alterar_senha" name="button_senha">Alterar</button>
</form>
{% endblock %}