<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="/static/editar_perfil.css">
</head>
<body>
    <div class="div_maior">
        <div class="div_esquerda">
            <h1>Preencha com os seus dados<br>E clique em alterar.<br></h1>
            <img src="/static/img/cozinhando.svg" alt="logo">
        </div>
        <div class="div_direita">
            <div class="card">

                <div class="inputs_perfil">
                    <form method="POST">
                        <h1>Editar Perfil</h1>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="flash {{ category }}">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        <label for="nome">Nome:</label><br>
                        <input type="text" name="nome" value="{{ current_user.nome }}" placeholder="Nome"><br><br>

                        <label for="email">Email:</label><br>
                        <input type="email" name="email" value="{{ current_user.email }}" placeholder="Email"><br><br>

                        <button type="submit" class="alterar_perfil">Alterar</button>
                    </form>
                </div>

                <div class="inputs_senha">
                    <form method="POST">
                        <h1>Editar Senha</h1>
                        <label for="senha">Senha Atual:</label><br>
                        <input type="password" name="senha" placeholder="Senha"><br><br>

                        <label for="nova_senha">Nova senha:</label><br>
                        <input type="password" name="nova_senha" placeholder="Nova senha"><br><br>

                        <label for="confirmar_senha">Confirmar nova senha:</label><br>
                        <input type="password" name="confirmar_senha" placeholder="Confirmar nova senha"><br><br>

                        <button type="submit" class="alterar_senha">Alterar</button>
                    </form>
                </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>
