<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>

    <div class="div_maior">
        <div class="div_esquerda">
            <h1>Por favor,<br>Faça login com as suas credenciais.</h1>
            <img src="{% static 'img/chef.svg' %}" alt="chef">
        </div>
        <div class="div_direita">
            <div class="card">

                {% if messages %}
                    {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}

                <h1>Login</h1>

                <div class="inputs">
                    <form method="POST"> 
                        {% csrf_token %}

                        <div class="username">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>

                        <div class="password">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>

                        <button type="submit" class="entrar">Entrar</button>
                    </form>
                    <p>Não possui cadastro? <a href="{% url 'usuario:register' %}">Cadastre-se.</a> </p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
