<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="usuario/static/login.css">
</head>
<body>
    <div class="div_maior">
        <div class="div_esquerda">
            <h1>Por favor,<br>Faça login com as suas credenciais.</h1>
            <img src="usuario/static/img/chef.svg" alt="chef">
        </div>
        <div class="div_direita">
            <div class="card">
                <h1>Login</h1>
                
                <div class="inputs">
                    <form method="POST">
                        {% csrf_token %}
                        
                        <label for="email">Email:</label><br>
                        <input type="email" name="email" placeholder="Email" required><br><br>

                        <label for="senha">Senha:</label><br>
                        <input type="password" name="senha" placeholder="Senha" required><br><br>

                        <button type="submit" class="entrar">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
