@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.div_maior {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5DC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_esquerda {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div_esquerda h1 {
    font-size: 40px;
    color: #00233f;
}

.div_esquerda img{
    width: 30vw;
    height: auto;
}

.div_direita {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.card {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 35px;
    background: #00233f;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #000000f5;
}

.card h1 {
    color: #FFFFFF;
    font-weight: 800;
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs label {
    margin-bottom: 5px;
    color: #FFFFFF;
}

.inputs input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 12pt;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 40px #000000f5;
    outline: none;
    box-sizing: border-box;
}

.cadastrar {
    width: 100%;
    padding: 16px;
    margin-top: 10px;
    font-size: 12pt;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    background-color: #2196F3;
    cursor: pointer;
}

.flash-messages {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: 300px;
}

.flash {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    animation: fadeInOut 4s forwards;
}

.flash.info {
    background-color: #3498db;
}

.flash.success {
    background-color: #2ecc71; 
}

.flash.warning {
    background-color: #f1c40f; 
}

.flash.danger {
    background-color: #e74c3c; 
}