@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%; 
    overflow: hidden; 
    font-family: 'Noto Sans', sans-serif;
    background-color: #2196F3;
    justify-content: center;
    align-items: center;
}

.div_cima{
    width: 100vw;
    height: 15vh;
    background-color: #00233f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0, 20px;
    border-bottom: 2px solid #FFFFFF;
}

.div_cima h1{
    margin: 0;
    color: #FFFFFF;
    margin-left: 50px;
}

.div_cima button {
    width: 8vw;
    height: 5vh;
    padding: 10px;
    margin-left: 10px;
    margin-right: 30px;
    font-size: 12pt;
    color: #333333;
    border: none;
    border-radius: 8px;
    background-color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 10px 40px #000000f5;
    transition: all 0.3s ease; 
}

.div_cima button:hover {
    background-color: #f0f0f0; 
    transform: translateY(-5px); 
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.5); 
}

.div_cima .botoes {
    display: flex;
    gap: 10px;
    align-items: center;
}

.dispensa {
    width: 90vw;
    height: calc(85vh); 
    background-color: #2196F3;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
}

.dispensa h2{
    width: 20vw;
}

.dispensa li{
    font-size: large;
}

.card {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 35px;
    background: #00233f;
    color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #000000f5;
    gap: 20px;
}

.botoes_card {
    display: flex;  
    justify-content: space-evenly;  
    width: 100%; 
}

.botoes_card button {
    width: 10vw;
    height: 7vh;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12pt;
    color: #333333;
    border: none;
    border-radius: 8px;
    background-color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 10px 40px #000000f5;
    transition: all 0.3s ease; 
    margin-top: 15px;
}

.botoes_card button:hover {
    background-color: #f0f0f0; 
    transform: translateY(-5px); 
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.5); 
}

.card .linha-separadora {
    width: 100%;
    border-top: 2px solid #FFFFFF; 
    margin: 20px 0;
    
}

.alimentos li {
    font-size: 20px;
}