<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
    <div class="div_maior">
        <div class="div_esquerda">
            <h1>Por favor,<br>Preencha com os seus dados<br>E sua nova senha</h1>
            <img src="/static/logo.png" alt="logo">
        </div>
        <div class="div_direita">
            <div class="card">
                <h1>Editar Senha</h1>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash {{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                
                <div class="inputs">
                    <form method="PUT">

                        <label for="senha">Senha Atual:</label><br>
                        <input type="password" name="senha" placeholder="Senha"><br><br>

                        <label for="nova_senha">Nova senha:</label><br>
                        <input type="password" name="nova_senha" placeholder="Nova senha"><br><br>

                        <label for="confirmar_senha">Confirmar nova senha:</label><br>
                        <input type="password" name="confirmar_senha" placeholder="Confirmar nova senha"><br><br>
                        
                        <button type="submit" class="cadastrar">Confirmar</button>
                        </form>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>