<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <div class="div_cima">
        <a href="{{ url_for('usuario.logout') }}" class="button_logout">
            <i class="bi bi-arrow-bar-left"></i>
        </a>
        <h1>
            Bem vindo, {{ current_user.nome }}!
        </h1>   
        <a href="{{ url_for('home.editar_perfil') }}" class="button_perfil">
            <i class="bi bi-person-circle"></i>
        </a>
    </div>

    <div class="card">

        <div class="modal">
            <div id="modal_adicionar_alimento" style="display: none;">
                <div class="modal_content">
                    <h2>Adicionar Alimentos</h2>
                    <form method="POST" action="{{ url_for('larder.adicionar_alimento') }}">
                        <label for="nome">Nome do alimento:</label><br>
                        <input type="text" name="nome" placeholder="Nome"><br><br>
    
                        <label for="quantidade">Quantidade:</label><br>
                        <input type="text" name="quantidade" placeholder="Quantidade"><br><br>
    
                        <button type="submit" class="adicionar">Adicionar</button>
                    </form>
                </div>
            </div>
    
            <div id="modal_deletar_alimento" style="display: none;">
                <div class="modal_content">
                    <h2>Selecione os alimentos que deseja deletar:</h2>
                    <form method="POST" action="{{ url_for('larder.deletar_alimento') }}">
                        <ul>
                            {% if alimentos %}
                                {% for alimento in alimentos %}
                                    <li>
                                        <input type= "checkbox" id="alimento_{{ alimento.id }}" name="alimentos" value="{{ alimento.id }}">
                                        <label for="alimento_{{ alimento.id }}">{{ alimento.nome }} - {{ alimento.quantidade }}</label>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <h2>Nenhum alimento cadastrado!</h2>
                            {% endif %}
                        </ul>
                        <button type="submit", class="deletar">Deletar alimentos</button>
                    </form>
                </div>
            </div>

            <div id="modal_adicionar_receita" style="display: none;">
                <div class="modal_content">
                    <h2>Adicionar Receita</h2>
                    <form method="POST" action="{{ url_for('recipes.adicionar_receita') }}">
                        <label for="nome">Nome:</label><br>
                        <input type="text" name="nome" placeholder="Nome"><br><br>
    
                        <label for="ingredientes">Ingredientes:</label><br>
                        <textarea id="ingredientes" name="ingredientes" rows="3" placeholder="Ingredientes"></textarea><br><br>

                        <label for="modo_preparo">Modo de preparo:</label><br>
                        <textarea id="modo_preparo" name="modo_preparo" rows="3" placeholder="Modo de preparo"></textarea><br><br>

                        <button type="submit" class="adicionar">Adicionar</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="dispensa">
            <h1>
                Minha Dispensa
                
                <div class="acoes">
                    <a href="#" class="adicionar_alimento" onclick="toggleModal('modal_adicionar_alimento')">
                        <i class="bi bi-plus"></i>
                    </a>
            
                    <a href="#" class="deletar_alimento" onclick="toggleModal('modal_deletar_alimento')">
                        <i class="bi bi-x-lg"></i>
                    </a>
                </div>
    
            </h1>
                <ol class="alimentos">
                    {% if alimentos %}
                        {% for alimento in alimentos %}
                            <li>{{ alimento.nome }} - {{ alimento.quantidade }}</li>
                        {% endfor %}
                    {% else %}
                        <h2>Nenhum alimento cadastrado!</h2>
                    {% endif %}
                </ol>
        </div>

        <div class="receitas">
            <h1>
                Minhas Receitas

                <div class="funcoes">
                    <a href="#" class="adicionar_receita" onclick="toggleModal('modal_adicionar_receita')">
                        <i class="bi bi-plus"></i>
                    </a>
    
                    <a href="{{ url_for('recipes.receita_ia') }}" class="receita_ia">
                        <i class="bi bi-robot"></i>
                    </a>
                </div>

            </h1>
            <ol class="receitas">
                {% if receitas %}
                    {% for receita in receitas %}
                        <a href="{{ url_for('recipes.receitas') }}">
                            <li>{{ receita.nome }}</li>
                        </a>
                    {% endfor %}
                {% else %}
                    <h2>Nenhuma receita cadastrada!</h2>
                {% endif %}
            </ol>
        </div>

    </div>

    <script>
        function toggleModal(modalID){
            const modal = document.getElementById(modalID);
            if (modal.style.display === 'none' || modal.style.display === ''){
                modal.style.display = 'flex';
            } else{
                modal.style.display = 'none';
            }
        }
        
    </script>
</body>
</html>