<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="div_maior">
        <div class="div_esquerda">
            <h1>Por favor,<br>Faça login com as suas credenciais</h1>
            <img src="/static/logo.png" alt="logo">
        </div>
        <div class="div_direita">
            <div class="card">
                <h1>Login</h1>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash {{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                
                <div class="inputs">
                    <form method="POST">
                        
                        <label for="email">Email:</label><br>
                        <input type="email" name="email" placeholder="Email"><br><br>

                        <label for="senha">Senha:</label><br>
                        <input type="password" name="senha" placeholder="Senha"><br><br>

                        <button type="submit" class="entrar">Entrar</button>
                        </form>
                </div>
                <p>Não possui cadastro? <a href="{{ url_for('usuario.form_cadastro') }}">Cadastre-se</a>.</p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>